.navbar-inverse{
    background-color:#154660;
    border-color:#154660;
}
.navbar .navbar-brand{
    font-size: 20px;
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 18px;
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    font-size: 18px;
    color: orange;
}
.navbar{
    box-shadow: 1px 1px 5px black;
}