<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: green;
      }
      div.container {
        max-width: 1000px;
        margin: 120px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Welcome to Docker Container running on MacBook Pro: {{ current_date }} </h2>
      <h3>Learning Azure DevOps is a great plan! :-)</h3>
       <h3>Developing and testing a WebApp in a container is a great choice! :-)</h3>
       <br>
       <h4>Check out this Azure DevOps tutorial video:</h4>
       <a href="https://www.youtube.com/watch?v=Qu6ID_3VL_Q&list=PLnWpsLZNgHzXfh7UyLxjE1FDySIh4zcpI" target="_blank" style="color: red;">Azure DevOps Video</a>
       <br>
       <h3> Author: admin@try-devops.xyz </h3>
    </div>
  </body>
</html>
