<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 50px; }
        h1 { color: green; }
    </style>
</head>
<body>
    <h1 style="text-decoration: underline;">Contact Details </h1>
    <p style="color: blue;">For any queries on Flask Development</p>
    <p style="color: blue;">Please reach out to me WhatsApp: +91-8147018994</p>
</body>
</html>
