<!DOCTYPE html>
<html lang="en">
<head>
    <title>learn html</title>
</head>
<body>
    <h2 style="color:blue;">Learning HTML from YouTube</h2>
    <p>YouTube Channel name is:<strong>"Logic Tamil First"</strong></p>
    <a href="https://www.youtube.com/watch?v=qlrLN_X5GXc&list=PLYM2_EX_xVvXZ2A08faQ_7Iz4unlGs176" target="_blank">IntroductionToWeb</a><br>
    <a href="https://www.youtube.com/watch?v=c7myDIKFjFg&list=PLYM2_EX_xVvXZ2A08faQ_7Iz4unlGs176&index=2" target="_blank">GettingStartedWithHtml</a><br>
    <a href="https://www.youtube.com/watch?v=6ukVlU9ScIs&list=PLYM2_EX_xVvXZ2A08faQ_7Iz4unlGs176&index=3" target="_blank">TextInHtml</a><br>
    <a href="https://www.youtube.com/watch?v=IeqkTS3fx60&list=PLYM2_EX_xVvXZ2A08faQ_7Iz4unlGs176&index=4" target="_blank">ListInHtml</a><br>
    <a href="https://www.youtube.com/watch?v=e8wvygLG1ww&list=PLYM2_EX_xVvXZ2A08faQ_7Iz4unlGs176&index=5" target="_blank">HtmlLinks</a><br>
    <h3 style="background-color:powderblue;">What is HTML?</h3>
    <ol>
        <li>HTML stands for <b>Hyper Text Markup Language</b></li>
        <li>HTML is the <b>standard markup language for creating Web Pages</b></li>
        <li>HTML <b>describes the structure of a Web page</b></li>
        <li>HTML <b>consists of a series of elements</b></li>
        <li>HTML <b>elements tell the browser how to display the content</b></li>
    </ol>
    <dl>
        <h3 style="background-color:powderblue;">What is Python?</h3>
        <dd>Python is a high-level, general-purpose programming language.</dd>
        <dd>Its design philosophy emphasizes code readability with the use of significant indentation</dd>
    </dl> 
    <h3 style="background-color:powderblue;">Where we use Python?</h3>
    <ol>
        <li>Developing websites and software</li>
        <li>Task automation</li>
        <li>Data analysis, and data visualization</li>
    </ol>
    <h3 style="background-color:powderblue;">Flask</h3>
    <dt><b>What is Flask?</b></dt>
    <dd>Flask is a micro web framework written in Python.</dd>
    <dd>It is classified as a Microframework because it does not require particular tools or libraries.</dd>
    <h3 style="background-color:powderblue;">API methods:</h3>
    <ol>
        <h3 style="background-color:powderblue;">Different Types of APIs:</h3>
        <li>GET Method </li>
        <li>POST Method </li>
        <li>PUT Method</li>
        <li>PATCH Method</li>
        <li>DELETE Method</li>
        <li>PATCH Method</li>
        <li>OPTIONS Method</li>
        <li>HEAD Method</li>
        <li>CONNECT Method</li>
        <li>TRACE Method</li>
    </ol>
        <h3 style="background-color:powderblue;">Different types of API protocols?</h3>
        <ul>
        <li>REST APIs</li>
        <li>SOAP APIs</li>
        <li>GraphQL APIs</li>
        <li>Webhook APIs</li>
        <li>RPC APIs</li>
    </ul>
</body>
</html>
