<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>home page</title>
        <style>
                .highlighted-text {
                    background-color: powderblue; /* Background color for the text */
                    display: inline-block; /* Make the background color fit the text width */
                    padding: 5px; /* Optional: add some padding around the text */
                    border-radius: 4px; /* Optional: rounded corners */
                }
            </style>
    </head>
    <body>
        <h1 class="highlighted-text">Welcome to Home Page</h1>
    </body>
</html>
