<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><i class="fa fa-database"> Learn AWS</i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('index')}}"><i class="fa fa-home"> Home</i></a></li>
            <li><a href="#"><i class="fas fa-user"> Admin</i></a></li>
            <li><a href="#"><i class="fas fa-edit"> Registration</i></a></li>
            <li><a href="#"><i class="fas fa-users"> User Login</i></a></li>
    </div>
</nav>