<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Registration</title>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        <style>
            html{
                height:50%;
            }
            body{
                background-image:Url('static/source/image/1.jpg');
                background-repeat:no-repat;
                background-size:cover;
            }
        </style>
    </head>
    <body>
        {% extends 'home_navbar.html' %}
    </body>
</html>